apiVersion: v2
name: fluentbit
description: Fast and lightweight log processor and forwarder or Linux, OSX and BSD family operating systems.
keywords:
  - logging
  - fluent-bit
  - fluentd
version: 0.55.0-bb.1
appVersion: 4.2.2
icon: https://raw.githubusercontent.com/cncf/artwork/master/projects/fluentd/fluentbit/icon/fluentbit-icon-color.svg
home: https://fluentbit.io/
sources:
  - https://github.com/fluent/fluent-bit/
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Fluent Bit: 4.2.2
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find the upstream fluent-bit release notes here](https://fluentbit.io/announcements/)
  helm.sh/images: |
    - name: fluent-bit
      image: registry1.dso.mil/ironbank/opensource/fluent/fluent-bit:4.2.2
    - name: script-tests
      condition: bbtests.enabled
      image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
dependencies:
  - name: gluon
    version: 0.9.7
    repository: oci://registry1.dso.mil/bigbang
  - name: bb-common
    version: 0.13.0
    repository: "oci://registry1.dso.mil/bigbang"
  - name: fluent-bit
    version: 0.55.0
    repository: https://fluent.github.io/helm-charts
    alias: upstream
