{{- if and .Values.elasticsearchKibana.enabled (.Capabilities.APIVersions.Has "kyverno.io/v1") -}}
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: sync-elastic-cert-secret
  namespace: {{ .Release.Namespace }}
  annotations:
    policies.kyverno.io/title: Sync Elastic cert secret
    policies.kyverno.io/category: Fluentbit
    policies.kyverno.io/subject: Elastic cert secret
spec:
  rules:
  - name: sync-elastic-cert-secret
    match:
      any:
      - resources:
          kinds:
          - Secret
          names:
          - logging-ek-es-http-certs-public
          namespaces:
          - logging
    generate:
      generateExisting: true
      kind: Secret
      name: logging-ek-es-http-certs-public
      apiVersion: v1
      namespace: {{ .Release.Namespace }}
      synchronize: true
      clone:
        namespace: logging
        name: logging-ek-es-http-certs-public
{{- end }}
